/NetbeansProject/LegoWiFiTrainProject/build/
/NetbeansProject/LegoWiFiTrainProject/dist/
/NetbeansProject/LegoWiFiTrainProject/nbproject/private/
/NetbeansProject/LegoWiFiTrainProjectV2/nbproject/private/
/NetbeansProject/LegoWiFiTrainProjectV2/build/